---

---

<div
  id="buttonSticky"
  class="fixed bottom-0 w-full transition-opacity opacity-100 duration-500 flex justify-center p-4"
>
  <button
    class="rounded-full w-full max-w-[400px] self-center flex justify-center items-center bg-gray-500 opacity-95 hover:opacity-80 transition-all duration-500 text-white text-xl font-bold p-3"
    type="button"
    onclick="
    btnStickyClick('#sectionD');
    ">Move to Section D</button
  >
</div>

<div class="!opacity-0 pointer-events-none"></div>
