---
import type { NavLink } from "../../types/types";

const { navLinks } = Astro.props;
---

<nav>
  <ul class="flex space-x-7">
    {
      navLinks.map((item: NavLink) => (
        <li>
          <a
            class="text-base hover:opacity-80 hover:underline"
            href={item.href}
            set:html={item.title}
          ></a>
        </li>
      ))
    }
  </ul>
</nav>
