---

---

<section>
  <div class="relative">
    <picture>
      <source srcset="/assets/images/fv_sp.jpeg" media="(max-width: 767px)" />
      <source srcset="/assets/images/fv.jpeg" />
      <img
        class="w-full max-h-screen min-h-[400px] object-cover"
        src="/assets/images/fv.jpeg"
        alt="FV"
      />
    </picture>

    <div
      class="absolute top-1/2 translate-y-[-50%] left-1/2 translate-x-[-50%] w-1/2 max-w-[800px] h-2/5 max-h-[400px] bg-white/40 backdrop-blur-sm rounded-xl mt-5"
    >
      <div
        class="w-full h-full flex flex-col justify-center items-center text-center p-2"
      >
        <h1 class="text-xl md:text-4xl mb-2 md:mb-5">Sample LP page</h1>
        <p class="text-sm md:text-base">Using Astro 3.0 + Tailwind 3.0.24</p>
      </div>
    </div>
  </div>
</section>
