---
import SectionContent from "./Shared/SectionContent.astro";
import SectionTitle from "./Shared/SectionTitle.astro";

const title = "SectionD Title";
const content = "Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br/>Doloremque vitae, vel amet ea praesentium nam repellendus necessitatibus alias deleniti autem consectetur asperiores recusandae, maiores totam error fuga vero! Ea, obcaecati? <br/> Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br/>Doloremque vitae, vel amet ea praesentium nam repellendus necessitatibus alias deleniti autem consectetur asperiores recusandae, maiores totam error fuga vero! Ea, obcaecati? Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br/>Doloremque vitae, vel amet ea praesentium nam repellendus necessitatibus alias deleniti autem consectetur asperiores recusandae, maiores totam error fuga vero! Ea, obcaecati? <br/> Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br/>Doloremque vitae, vel amet ea praesentium nam repellendus necessitatibus alias deleniti autem consectetur asperiores recusandae, maiores totam error fuga vero! Ea, obcaecati? Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br/>Doloremque vitae, vel amet ea praesentium nam repellendus necessitatibus alias deleniti autem consectetur asperiores recusandae, maiores totam error fuga vero! Ea, obcaecati? <br/> Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br/>Doloremque vitae, vel amet ea praesentium nam repellendus necessitatibus alias deleniti autem consectetur asperiores recusandae, maiores totam error fuga vero! Ea, obcaecati?";
---

<section id="sectionDWrapper" class="common_width anchor">
  <span id="sectionD"></span>
  <div class="py-10">
    <SectionTitle classes="mb-5" title={title} />
    <SectionContent classes="mb-5" content={content} />
  </div>
</section>
